body{
	background-image: url("images/gradient.png");
	background-size: 100% 100px;
	background-repeat: repeat-y;
}

.navigation {
	width: 80%;
	margin: 0 auto;
}

header{
	background: grey;
	height: 40px;
	/*z-index: 100;*/
}

header:after{
	content: '';
	display: table;
	clear: both;
}

nav{
}



nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	margin-left: 70px;
	padding-top: 25px; 
	padding: 10px 0;
	position: relative;
	float: left;
}

nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
}

nav a:hover{
	color: black;
}

nav a:before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;
	position: absolute;
	top: 0;
	transition: all ease-in-out 200ms;
}

nav a:hover::before{
	width: 100%;
}

nav ul li ul {
	display: none;
	position: absolute;
	margin-top: 8px;
}

nav ul li ul li{
	margin-left: 0;
	/*position: absolute;*/
	background-color: grey;
	padding-top: 16px; 
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	float: none;
}

.drop {
	/*position: absolute;*/
}

nav ul li ul li a{
	display: block;
}

nav ul li:hover ul{
	display: block;
}

nav ul li ul li ul {
	position: absolute;
	margin-top: -36px;
	margin-left: 100px;

}

nav ul li ul li ul li{
	background-color: grey;
	display: none;
}

nav ul li ul li:hover ul li{
	display: inline-block;
}	

h1:first-child {
    background-color: yellow;
}

p:last-child{
	background-color: blue;
}

div:last-of-type{
	background-color: pink;
}

input[type=text]:enabled {
    background: green;
}

input[type="text"]:disabled {
    background: #dddddd;
}

h3{
	border-style:dotted solid double dashed;
	border-width: thick
	;max-width: 300px;
	border-color: gray;
	 position: relative;
    -webkit-animation-name: kolor;
	-webkit-animation-duration: 4s;
	animation-iteration-count: infinite;

}
@-webkit-keyframes kolor {
    0%   {color:black; border-color: black;}
    25%  {color:gray; border-color: gray;}
    50%  {color:white; border-color: white;}
    75%  {color:gray; border-color: gray;}
    100% {color:black; border-color: black;}
}
